<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="Munew" />
    <meta name="generator" content="Jekyll v4.0.1" />
    <title><%= title || '' %></title>

    <!-- Bootstrap core CSS -->
    <link href="/vendors/bootstrap/4.5.0/css/bootstrap.css" rel="stylesheet" />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="/app.css" rel="stylesheet" />
  </head>
  <body class="bg-light">
    <div class="container">
      <div class="py-5 text-center">
        <a href="<%= homeURL %>" target="_blank">
          <img
            class="d-block mx-auto mb-4"
            src="/icons/icon-512x512.png"
            alt=""
            width="100"
            height="100"
          />
        </a>
        <h2>
          <%= title || '' %><span class="badge badge-info"></span>
        </h2>
        <p class="lead">
          
        </p>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Index</span>
          </h4>
          <ul class="list-group mb-3">
            <li
              class="list-group-item d-flex justify-content-between lh-condensed"
            >
              <div>
                <h6 class="my-0">
                  <a href="/apis/intelligences/init" target="_blank">Initialize Domains</a>
                </h6>
                <small class="text-muted">Send domains that need to check to Munew Engine</small>
              </div>
            </li>
            <li
              class="list-group-item d-flex justify-content-between lh-condensed"
            >
              <div>
                <h6 class="my-0">
                  <a href="/data.json" target="_blank">Collected Date</a
                  >
                </h6>
                <small class="text-muted">All currently collected data</small>
              </div>
            </li>
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2020 Munew.io</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://docs.munew.io/" target="_blank">Documents</a>
          </li>
          <li class="list-inline-item">
            <a href="<%= githubURL %>" target="_blank">Github</a>
          </li>
        </ul>
      </footer>
    </div>
    <script src="/vendors/jquery-3.5.1.slim.js"></script>
    <script src="/vendors/bootstrap/4.5.0/js/bootstrap.bundle.js"></script>
  </body>
</html>
